 .u-section-1 {
  min-height: 682px;
}

.u-section-1 .u-group-1 {
  min-height: 725px;
  margin-top: -2px;
  margin-bottom: -114px;
}

.u-section-1 .u-container-layout-1 {
  padding: 24px 0;
}

.u-section-1 .u-image-1 {
  width: 620px;
  height: 362px;
  --animation-custom_in-scale: 0.78;
  margin: 29px auto 0;
}

.u-section-1 .u-text-1 {
  width: 680px;
  margin: -53px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 36px auto 0;
  padding: 12px 78px 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    height: 315px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 198px;
    margin-top: 140px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 999px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 638px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 50px 16px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 43px 0 14px;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-scale: 0.3;
  margin: 29px 0 0 57px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 43px 44px 0 34px;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  text-align: center;
  font-weight: 700;
  border-style: solid;
  margin: 78px auto 0 155px;
  padding: 20px 47px 20px 46px;
}

.u-section-2 .u-image-1 {
  min-height: 629px;
  background-image: url("images/68345040-0.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 28px;
}

.u-section-2 .u-list-1 {
  margin-top: 0;
  margin-bottom: 63px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 251px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-3 {
  padding: 60px 30px 30px;
}

.u-section-2 .u-icon-1 {
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-4 {
  padding: 60px 30px 30px;
}

.u-section-2 .u-icon-2 {
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-5 {
  padding: 60px 30px 30px;
}

.u-section-2 .u-icon-3 {
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-6 {
  padding: 60px 30px 30px;
}

.u-section-2 .u-icon-4 {
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 887px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 526px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 58px;
  }

  .u-section-2 .u-image-1 {
    min-height: 519px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 207px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1130px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-1 {
    min-height: 769px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 634px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1038px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 577px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-image-1 {
    min-height: 363px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 111px;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 13px rgba(0,0,0,0.35);
  font-weight: 700;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -90px auto -190px;
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 944px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto auto;
  margin-top: -130px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 958px;
  grid-gap: 20px 20px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 0 30px;
}

.u-section-4 .u-image-1 {
  height: 260px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 260px;
  margin: 0 10px 0 0;
}

.u-section-4 .u-text-1 {
  font-family: "Palanquin Dark";
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 30px 0;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 10px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 0 30px;
}

.u-section-4 .u-image-2 {
  height: 260px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 260px;
  margin: 0 10px 0 0;
}

.u-section-4 .u-text-3 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-4 {
  font-style: italic;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 30px 0;
}

.u-section-4 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 10px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 0 30px;
}

.u-section-4 .u-image-3 {
  height: 260px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 260px;
  margin: 0 10px 0 0;
}

.u-section-4 .u-text-5 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-6 {
  font-style: italic;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 30px 0;
}

.u-section-4 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 10px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 0 30px;
}

.u-section-4 .u-image-4 {
  height: 260px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 260px;
  margin: 0 10px 0 0;
}

.u-section-4 .u-text-7 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-8 {
  font-style: italic;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 30px 0;
}

.u-section-4 .u-btn-4 {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 10px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-4 .u-list-item-5 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 0 30px;
}

.u-section-4 .u-image-5 {
  height: 260px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 260px;
  margin: 0 10px 0 0;
}

.u-section-4 .u-text-9 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-10 {
  font-style: italic;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 30px 0;
}

.u-section-4 .u-btn-5 {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 10px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-4 .u-list-item-6 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-6 {
  padding: 20px 0 30px;
}

.u-section-4 .u-image-6 {
  height: 260px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 260px;
  margin: 0 10px 0 0;
}

.u-section-4 .u-text-11 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-12 {
  font-style: italic;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 30px 0;
}

.u-section-4 .u-btn-6 {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 10px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-4 .u-list-item-7 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-7 {
  padding: 20px 0 30px;
}

.u-section-4 .u-image-7 {
  height: 260px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 260px;
  margin: 0 10px 0 0;
}

.u-section-4 .u-text-13 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-14 {
  font-style: italic;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 30px 0;
}

.u-section-4 .u-btn-7 {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 10px auto 0;
  padding: 8px 27px 8px 26px;
}

.u-section-4 .u-list-item-8 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-8 {
  padding: 20px 0 30px;
}

.u-section-4 .u-image-8 {
  height: 260px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 260px;
  margin: 0 10px 0 0;
}

.u-section-4 .u-text-15 {
  font-family: "Palanquin Dark";
  font-weight: 400;
  text-transform: none;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-16 {
  font-style: italic;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px 30px 0;
}

.u-section-4 .u-btn-8 {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 10px auto 0;
  padding: 8px 27px 8px 26px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 15px));
    min-height: 784px;
  }

  .u-section-4 .u-image-1 {
    height: 226px;
    width: 220px;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 226px;
    width: 220px;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    height: 226px;
    width: 220px;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-4 {
    height: 226px;
    width: 220px;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-5 {
    height: 226px;
    width: 220px;
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-6 {
    height: 226px;
    width: 220px;
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-7 {
    height: 226px;
    width: 220px;
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-8 {
    height: 226px;
    width: 220px;
    margin-right: 0;
  }

  .u-section-4 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1929px;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 2059px;
  }

  .u-section-4 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-8 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 668px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 668px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 25px 0;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-3 {
  text-transform: uppercase;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-4 {
  font-size: 1rem;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 20px auto 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 668px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-7 {
  text-transform: uppercase;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-8 {
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 551px;
  }

  .u-section-5 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 551px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
    padding-bottom: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1226px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 24px auto 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto auto;
  margin: 41px 0 24px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14px) calc(33.3333% - 14px) calc(33.3333% - 14px);
  grid-gap: 21px 21px;
  min-height: 583px;
}

.u-section-6 .u-list-item-1 {
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  transition-duration: 0.5s;
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-6 .u-container-layout-1 {
  padding: 15px 3px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 18px 27px 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 40px;
}

.u-section-6 .u-line-1 {
  transform-origin: left center 0px;
  margin: 3px 27px 0;
}

.u-section-6 .u-image-1 {
  width: 223px;
  height: 277px;
  margin: 7px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 18px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 19px auto -16px 104px;
}

.u-section-6 .u-list-item-2 {
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-6 .u-container-layout-2 {
  padding: 15px 3px;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 18px 27px 0;
}

.u-section-6 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 40px;
}

.u-section-6 .u-line-2 {
  transform-origin: left center 0px;
  margin: 3px 27px 0;
}

.u-section-6 .u-image-2 {
  width: 223px;
  height: 277px;
  margin: 7px auto 0;
}

.u-section-6 .u-text-7 {
  margin: 18px 0 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 19px auto -16px 104px;
}

.u-section-6 .u-list-item-3 {
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-6 .u-container-layout-3 {
  padding: 15px 3px;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  margin: 18px 27px 0;
}

.u-section-6 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 40px;
}

.u-section-6 .u-line-3 {
  transform-origin: left center 0px;
  margin: 3px 27px 0;
}

.u-section-6 .u-image-3 {
  width: 223px;
  height: 277px;
  margin: 7px auto 0;
}

.u-section-6 .u-text-10 {
  margin: 18px 0 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 19px auto -16px 104px;
}

.u-section-6 .u-list-item-4 {
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-6 .u-container-layout-4 {
  padding: 15px 3px;
}

.u-section-6 .u-text-11 {
  font-weight: 700;
  margin: 18px 27px 0;
}

.u-section-6 .u-text-12 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 40px;
}

.u-section-6 .u-line-4 {
  transform-origin: left center 0px;
  margin: 3px 27px 0;
}

.u-section-6 .u-image-4 {
  width: 223px;
  height: 277px;
  margin: 7px auto 0;
}

.u-section-6 .u-text-13 {
  margin: 18px 0 0;
}

.u-section-6 .u-btn-4 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 19px auto -16px 104px;
}

.u-section-6 .u-list-item-5 {
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-6 .u-container-layout-5 {
  padding: 15px 3px;
}

.u-section-6 .u-text-14 {
  font-weight: 700;
  margin: 18px 27px 0;
}

.u-section-6 .u-text-15 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 40px;
}

.u-section-6 .u-line-5 {
  transform-origin: left center 0px;
  margin: 3px 27px 0;
}

.u-section-6 .u-image-5 {
  width: 223px;
  height: 277px;
  margin: 7px auto 0;
}

.u-section-6 .u-text-16 {
  margin: 18px 0 0;
}

.u-section-6 .u-btn-5 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 19px auto -16px 104px;
}

.u-section-6 .u-list-item-6 {
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: -2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.u-section-6 .u-container-layout-6 {
  padding: 15px 3px;
}

.u-section-6 .u-text-17 {
  font-weight: 700;
  margin: 18px 27px 0;
}

.u-section-6 .u-text-18 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 40px;
}

.u-section-6 .u-line-6 {
  transform-origin: left center 0px;
  margin: 3px 27px 0;
}

.u-section-6 .u-image-6 {
  width: 223px;
  height: 277px;
  margin: 7px auto 0;
}

.u-section-6 .u-text-19 {
  margin: 18px 0 0;
}

.u-section-6 .u-btn-6 {
  background-image: none;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 19px auto -16px 104px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 14px));
    min-height: 480px;
  }

  .u-section-6 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-6 .u-line-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-6 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-6 .u-line-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-6 .u-line-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-6 .u-line-6 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-btn-6 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 846px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

.u-section-6 .u-list-item-1,
.u-section-6 .u-list-item-1:before,
.u-section-6 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-6 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-6 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-6 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-6 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-list-item-2,
.u-section-6 .u-list-item-2:before,
.u-section-6 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-6 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-6 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-6 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-6 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-list-item-3,
.u-section-6 .u-list-item-3:before,
.u-section-6 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-6 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-6 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-6 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-6 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-list-item-4,
.u-section-6 .u-list-item-4:before,
.u-section-6 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-6 .u-list-item-4 {
  border-color: transparent !important;
}

.u-section-6 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-6 .u-list-item-4 {
  border-color: transparent !important;
}

.u-section-6 .u-container-layout:hover .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-list-item-5,
.u-section-6 .u-list-item-5:before,
.u-section-6 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-6 .u-list-item-5 {
  border-color: transparent !important;
}

.u-section-6 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-6 .u-list-item-5 {
  border-color: transparent !important;
}

.u-section-6 .u-container-layout:hover .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-list-item-6,
.u-section-6 .u-list-item-6:before,
.u-section-6 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-6 .u-list-item-6 {
  border-color: transparent !important;
}

.u-section-6 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-6 .u-list-item-6 {
  border-color: transparent !important;
}

.u-section-6 .u-container-layout:hover .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-7 .u-sheet-1 {
  min-height: 680px;
}

.u-section-7 .u-text-1 {
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: 53px auto 0;
}

.u-section-7 .u-list-1 {
  margin: 20px 0 53px;
}

.u-section-7 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
}

.u-section-7 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-1 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-7 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-7 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-6 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-7 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-image-4 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-8 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-7 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px;
}

.u-section-7 .u-image-5 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-10 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-7 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-7 .u-container-layout-6 {
  padding: 30px;
}

.u-section-7 .u-image-6 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-12 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-7 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-7 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-7 .u-container-layout-7 {
  padding: 30px;
}

.u-section-7 .u-image-7 {
  height: 298px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-14 {
  font-weight: 700;
  margin: 20px 61px 0 0;
}

.u-section-7 .u-text-15 {
  margin: 20px 0 0;
}

.u-section-7 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-7 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 41px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 41px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-7 .u-image-1 {
    height: 236px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-image-2 {
    height: 236px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 0;
  }

  .u-section-7 .u-image-3 {
    height: 236px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 0;
  }

  .u-section-7 .u-image-4 {
    height: 236px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 0;
  }

  .u-section-7 .u-image-5 {
    height: 236px;
  }

  .u-section-7 .u-text-10 {
    margin-right: 0;
  }

  .u-section-7 .u-image-6 {
    height: 236px;
  }

  .u-section-7 .u-text-12 {
    margin-right: 0;
  }

  .u-section-7 .u-image-7 {
    height: 236px;
  }

  .u-section-7 .u-text-14 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 52px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 52px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-7 .u-image-1 {
    height: 279px;
  }

  .u-section-7 .u-image-2 {
    height: 279px;
  }

  .u-section-7 .u-image-3 {
    height: 279px;
  }

  .u-section-7 .u-image-4 {
    height: 279px;
  }

  .u-section-7 .u-image-5 {
    height: 279px;
  }

  .u-section-7 .u-image-6 {
    height: 279px;
  }

  .u-section-7 .u-image-7 {
    height: 279px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 40px;
  }

  .u-section-7 .u-image-1 {
    height: 484px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-7 .u-image-2 {
    height: 484px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 40px;
  }

  .u-section-7 .u-image-3 {
    height: 484px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-right: 40px;
  }

  .u-section-7 .u-image-4 {
    height: 484px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-right: 40px;
  }

  .u-section-7 .u-image-5 {
    height: 484px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-right: 40px;
  }

  .u-section-7 .u-image-6 {
    height: 484px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-right: 40px;
  }

  .u-section-7 .u-image-7 {
    height: 484px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 47px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 47px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-7 .u-image-1 {
    height: 330px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-7 .u-image-2 {
    height: 330px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-7 .u-image-3 {
    height: 330px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-7 .u-image-4 {
    height: 330px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-right: 30px;
  }

  .u-section-7 .u-image-5 {
    height: 330px;
  }

  .u-section-7 .u-container-layout-6 {
    padding-right: 30px;
  }

  .u-section-7 .u-image-6 {
    height: 330px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-right: 30px;
  }

  .u-section-7 .u-image-7 {
    height: 330px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 685px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 54px;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 546px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 30px 30px 0;
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-2 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.25rem;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 631px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-8 .u-text-3 {
  text-transform: uppercase;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 63px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 450px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 520px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 322px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-8 .u-container-layout-2 {
    padding-right: 10px;
    padding-bottom: 0;
  }
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/sd.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 556px;
}

.u-section-9 .u-list-1 {
  width: 712px;
  margin: 143px auto 60px;
}

.u-section-9 .u-repeater-1 {
  min-height: 225px;
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  grid-gap: 20px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-1 {
  padding: 20px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.375rem;
  margin: 0 1px;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 22px 0 0;
}

.u-section-9 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-2 {
  padding: 20px;
}

.u-section-9 .u-text-3 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.375rem;
  margin: 0 1px;
}

.u-section-9 .u-text-4 {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 22px 0 0;
}

.u-section-9 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-9 .u-container-layout-3 {
  padding: 20px;
}

.u-section-9 .u-text-5 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.375rem;
  margin: 0 1px;
}

.u-section-9 .u-text-6 {
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 444px;
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-9 .u-list-1 {
    width: 540px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-9 .u-list-1 {
    width: 340px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}